.DS_Store
.env
.env.*
.git
.next
.vercel
coverage
firebase-debug.log*
gcloud-*.json
credentials*.json
*service-account*.json
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.pem
*.tsbuildinfo
